<!DOCTYPE html>
<html lang="zh-Hans" ng-app="sc">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>聊天室</title>
  <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
  <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
  <script type="text/javascript" src="req.js"></script>
  <link rel="stylesheet" href="ui.css">
</head>
<body ng-controller="main">
<div id="error" ng-if="!state">
  <p>连接中……</p>
</div>
<div id="login" ng-if="!isLogin">
  <small>socket-chat-room v0.2.0, 13307130299@fudan.edu.cn, 丁戍</small>
  <h2>登陆</h2>
  <form ng-submit="login()">
    <label>
      <input type="text" ng-model="data.username" placeholder="你的昵称" autofocus>
      <br>
      <input type="text" ng-model="data.addr" placeholder="127.0.0.1:2015">
      <br>
      <input type="submit" value="login">
    </label>
  </form>
</div>
<div id="container">
  <div id="sidebar">
    <span>在线</span>
    <div ng-repeat="user in userList track by $index" ng-if="user.state" class="online-{{ user.state === 1 }}">
      <span class="user-self-{{ user.name == data.username }}">{{ user.name }}</span>
    </div>
    <span>离线</span>
    <div ng-repeat="user in userList track by $index" ng-if="!user.state" class="online-{{ user.state === 1 }}">
      <span class="user-self-{{ user.name == data.username }}">{{ user.name }}</span>
    </div>
  </div>
  <div id="chat">
    <div id="message">
      <p ng-repeat="msg in msgList track by $index" ng-bind-html="display(msg)" class="msg-box"></p>
    </div>
    <div id="input">
      <form ng-submit="submit()">
        <div id="emoji">
          <div>
            <span ng-repeat="em in data.emoji" ng-click="addEmoji(em)">{{ em }}</span>
          </div>
        </div>
        <div id="image"><a ng-click="addImage()" href="javascript:;">🌃</a></div>
        <label><textarea id="inputbox" ng-model="input" ng-keydown="keydown($event)" placeholder="回车键发送" autofocus></textarea></label>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript" src="ui.js"></script>
</body>
</html>
