* {
  -webkit-user-select: none
}
body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: helvetica, sans-serif;
}
#login {
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #FFF;
}
#container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  height: 100%;
}
#sidebar {
  flex: 0 0 200px;
  padding-top: 25px;
  background-color: #E8E8E8;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.02);
}
#chat {
  flex: 1;
  overflow: hidden;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  background-color: #fff;
}
#message {
  flex: 1;
  padding: 10px;
  overflow: scroll;
}
#message p {
  margin: 0;
}
#inputbox {
  width: 100%;
  padding: 6px;
  height: 52px;
  border: none;
  border-top: 1px solid #ccc;
  -webkit-appearance: none;
  resize: none;
  font-size: 16px;
  line-height: 16px;
  font-family: sans-serif;
  outline: none;
}
#sidebar > span {
  color: #9A9A9A;
  font-weight: 100;
  font-size: 12px;
  padding: 8px;
}
#sidebar > div {
  padding: 4px 16px;
  font-size: 14px;
  color: #808080;
  background-color: #DADADA;
}
#sidebar > div.online-true {
  color: #000000;
  font-weight: bold;
}
.msg-sender {
  display: block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: 100;
  color: #A0A0A0;
  clear: both;
}
.msg-content {
  display: inline-block;
  max-width: 300px;
  padding: 4px 6px;
  font-size: 15px;
  border-radius: 4px;
  margin-bottom: 4px;
  background-color: #E2E2E2;
}
.msg-content > img {
  max-width: 100%;
  padding: 5px;
  box-sizing: border-box;
}
.msg-self.msg-sender {
  text-align: right;
}
.msg-self.msg-content {
  float: right;
  color: #fff;
  background-color: dodgerblue;
}
.user-self-true {
  color: dodgerblue;
}
#error {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: #fff;
  font-weight: 100;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
#emoji {
  display: inline-block;
  max-width: 1.5em;
  margin: 0 5px;
  height: 1.5em;
  overflow: hidden;
  border-radius: 0.75em;
  background-color: #E6E6E6;
  transition: all .5s ease;
}
#emoji:hover {
  max-width: 18em;
  cursor: pointer;
}
#emoji > div {
  display: inline-block;
}
#emoji > div > span {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.8em;
}
#emoji > div > span:hover {
  border-radius: 0.75em;
  background-color: #aaa;
}
.msg-box.ng-enter {
  transform: translateY(10px);
  opacity: 0;
  transition: all .3s ease;
}
.msg-box.ng-enter-active {
  transform: translateY(0);
  opacity: 1;
}